[submodule "vendor/github.com/codegangsta/negroni"]
	path = vendor/github.com/codegangsta/negroni
	url = https://github.com/codegangsta/negroni.git
[submodule "vendor/github.com/gorilla/context"]
	path = vendor/github.com/gorilla/context
	url = https://github.com/gorilla/context.git
[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux.git
[submodule "vendor/github.com/jmoiron/sqlx"]
	path = vendor/github.com/jmoiron/sqlx
	url = https://github.com/jmoiron/sqlx.git
[submodule "vendor/github.com/mattn/go-sqlite3"]
	path = vendor/github.com/mattn/go-sqlite3
	url = https://github.com/mattn/go-sqlite3.git
[submodule "vendor/github.com/namsral/flag"]
	path = vendor/github.com/namsral/flag
	url = https://github.com/namsral/flag.git
