<div class='todo-group'>
  <h3 class='todo-group-title'>
    {{group.title}}
  </h3>
  <ul class='todo-group-items'>
    {{#each group.items as |item|}}
      {{todo-item item=item}}
    {{/each}}
  </ul>
</div>
