<div class='wrapper'>
  <div class='menu'>
    <span class="branding">3do</span>
    <ul class="menu-items">
      <li>
        {{#link-to 'todo-lists'}}
          All
        {{/link-to}}
      </li>
    </ul>
  </div>
  <div class="content">
    {{outlet}}
  </div>
</div>
